.actionBtn {
    width: 60%;
        background-color: pink;
        font-size: 1.2rem;
        width: 40%;
        border-radius: 10px;
        padding: 5px 10px;
        margin-top: 10px;
        text-align: center;
        color: black;
        font-weight: 600;
}